if SHIELD_COSMOSHK_LEFT

config ZMK_KEYBOARD_NAME
    default "Cosmoshk"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_COSMOSHK_LEFT || SHIELD_COSMOSHK_RIGHT

config ZMK_SPLIT
    default y

endif